/* 键盘kbd样式 */
.b3-typography kbd,
.b3-typography span[data-type~=kbd],
.protyle-wysiwyg kbd,
.protyle-wysiwyg span[data-type~=kbd] {
    border: var(--b3-border-kbd);
    border-bottom: 0.1em solid gray;
    border-radius: 4px;
    color: gray;
    background-color: var(--b3-theme-background2);
    vertical-align: 0.25em;
    font-family: var(--b3-font-family-code);
}