/* ------------------------------------------标签 tag--------------------------------------------- */
.protyle-wysiwyg [data-node-id] span[data-type='tag']:not(:empty) {
    color: var(--b3-theme-primary);
    background-color: #b2d1ff6c;
    border-radius: 6px 6px 6px 6px;
    padding: 2px 4px 2px 2px;
}

.protyle-wysiwyg [data-node-id] span[data-type="tag"] {
    border-bottom: none;
}

span[data-type='tag']::before {
    content: "#";
    color: white;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    vertical-align: 0em;
    margin-left: -0.1em;
    margin-right: 0.1em;
    border-radius: 6px;
    background-color: #9bc1fa;
    text-align: center;
    font-weight: bold;
}