/* ------------------------------------------------更改空行提示----------------------------------------- */

/* 空白提示 */
.protyle-wysiwyg [data-node-id]:not(.code-block)>[contenteditable][spellcheck]:empty:after {
    /* 空段落 */
    content: "\>";
    color: var(--b3-font-color-empty);
}

.protyle-wysiwyg [data-node-id] [spellcheck="false"]:empty:after {
    /* color: inherit; */
    color: var(--b3-font-color-empty);
    opacity: 0.3;
}

/* 空列表出现提示 */
.protyle-wysiwyg [data-subtype="t"]>.li>.p:nth-of-type(2)>[spellcheck="false"]:empty:after {
    content: "待办事项";
    color: var(--b3-font-color-empty);
}

.protyle-wysiwyg [data-subtype="u"]>.li>.p:nth-of-type(2)>[spellcheck="false"]:empty:after,
.protyle-wysiwyg [data-subtype="o"]>.li>.p:nth-of-type(2)>[spellcheck="false"]:empty:after {
    content: "列表";
    color: var(--b3-font-color-empty);
}

/* ------------------------------------------------更改空行提示 END----------------------------------------- */