/* -------------------------------------------------面包屑导航样式-------------------------------------------- */
.protyle-breadcrumb {
    color: gray;
    background-color: #f2f2f2;
    font-size: 14px !important;
    height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 6px;
    margin-left: 6px;
    margin-right: 6px;
    border: 1px solid var(--b3-border-color);
    border-radius: 4px !important;
    padding-top: 0px;
}

.protyle-breadcrumb__item svg {
    height: 14px;
    width: 14px;
}

.fn__flex-1.protyle {
    background-color: white;
}

.protyle-content {
    border-top: var(--b3-border-normal);
    box-shadow: var(--b3-protyle-content-shadow);
}

.protyle-breadcrumb button.b3-tooltips.b3-tooltips__w.block__icon {
    position: relative;
    top: 2px;
}

/* -------------------------------------------------面包屑导航样式 END-------------------------------------------- */