/* -------------------------------------------------面包屑导航样式-------------------------------------------- */
.protyle-breadcrumb {
    background-color: var(--b3-breadcrumb-background);
    font-size: 14px !important;
    height: 26px;
    text-overflow: ellipsis;
    border-top: 2px solid var(--b3-breadcrumb-border-color);
    border-bottom: 1px solid var(--b3-breadcrumb-border-color);
}

/* Ctrl+P搜索界面编辑区域面包屑上方 */
.b3-dialog__container .protyle-breadcrumb {
    border-top-width: 0;
}

.protyle-breadcrumb__bar {
    /* overflow: hidden; */
    margin-top: -2px;
}

.protyle-breadcrumb__item svg {
    height: 14px;
    width: 14px;
}


/* -------------------------------------------------面包屑导航样式 END-------------------------------------------- */

/* 调整面包屑条目颜色（依次为符号icon，小三角标志，文字颜色） */
.protyle-breadcrumb svg.popover__block,
.protyle-breadcrumb .protyle-breadcrumb__arrow,
.protyle-breadcrumb .protyle-breadcrumb__item {
    color: var(--b3-breadcrumb-color);
}

/* 设置聚焦的块前面的符号颜色和文字颜色为主色 */
span.protyle-breadcrumb__item.protyle-breadcrumb__item--active,
span.protyle-breadcrumb__item.protyle-breadcrumb__item--active svg.popover__block {
    color: var(--b3-theme-primary);
}

/* 鼠标在面包屑上悬浮时更改文字和文字前面icon的颜色 */
.protyle-breadcrumb__item:hover {
    color: var(--b3-theme-on-background) !important;
}

.protyle-breadcrumb__item:hover svg.popover__block {
    color: var(--b3-theme-on-background) !important;
}

/* v2.4.10 */
/* 聚焦或者鼠标悬浮时背景颜色为透明色 */
.protyle-breadcrumb__item:hover,
.protyle-breadcrumb__item--active {
    background-color: transparent;
}