/* -----------------------------------------------------background----------------------------------------------------- */
.layout-tab-bar.fn__flex,
ul.fn__flex.layout-tab-bar {
    background-color: var(--b3-tab-background) !important;
}

/* 调整标签页右侧新建和查看标签页的背景颜色 */
.layout-tab-bar {
    background-color: var(--b3-tab-background) !important;
}

/* -----------------------------------------------------tab----------------------------------------------------- */
.layout-tab-bar .item:not(.item--readonly) {
    position: relative;
    background-color: var(--b3-tab-bar-background);
    flex: none;
    width: 12em;
    border-right: 1px solid var(--b3-tab-bar-border-right-color);
    border-radius: 0px;
}

.layout-tab-bar .item .item__text {
    width: 11em;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    display: inline;
}

/* 标签页关闭按钮一直显示 @v2.4.5 */
.layout-tab-bar .item__close svg {
    opacity: 1;
}

/* -----------------------------------------------------focus----------------------------------------------------- */
.layout-tab-bar .item--focus {
    color: var(--b3-tab-bar-focus-background);
    background-image: var(--b3-tab-bar-focus-background);
    box-shadow: none !important;
    border-radius: 0px;
}

/* 取消下方横线@v2.4.3 */
.layout-tab-bar .item--focus:not(.item--pin.item--focus):after {
    display: none;
}

.layout-tab-bar .item--focus .item__text {
    color: var(--b3-tab-bar-focus-color) !important;
}

/* 设置当前标签页中的关闭图标颜色 */
.layout-tab-bar .item--focus:not(.item:only-child) .item__close svg {
    color: var(--b3-tab-bar-close-color);
}

/* -----------------------------------------------------only-child----------------------------------------------------- */

/* .layout-tab-bar .item:only-child {
    background-image: none;
    background-color: #f3f3f5;
}

.layout-tab-bar .item:only-child .item__text {
    color: black !important;
} */

/* -----------------------------------------------------readonly----------------------------------------------------- */

.layout-tab-bar .item--readonly {
    padding-left: 0px;
}

.item--readonly span.item__close[data-type="new"] {
    padding: 10px;
}

.item--readonly span.item__close[data-type="more"] {
    padding: 10px;
}

/* -----------------------------------------------------emoji----------------------------------------------------- */
.layout-tab-bar .item__icon>img,
.layout-tab-bar .item__icon>svg {
    height: 16px;
    width: 16px;
    margin-top: -1px;
}

/* -----------------------------------------------------pin----------------------------------------------------- */
/* 显示钉住的标签页中的文字 */
.layout-tab-bar .item--pin .item__text {
    display: block !important;
}

/* 设置统一样式 */
li.item.item--pin:after {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 12px;
    height: 12px;
    rotate: 45deg;
}

/* 白底灰色大头钉 */
li.item.item--pin:not(.item--focus):after {
    content: url("../../src/pin.svg");
    filter: grayscale(100%);
}

/* 蓝底白色大头钉 */
li.item.item--pin.item--focus:after {
    content: url("../../src/pin-focus.svg") !important;
    background-color: transparent !important;
}

/* --------------------------------------------------标签页 END--------------------------------------------- */

/* v2.1.14引入 */
.layout-tab-bar .item:not(:last-child), .layout-tab-bar .item:last-child:not(.item--focus):not(.item--readonly) {
    box-shadow: none;
}



/* 设置标签页关闭按钮悬浮时的背景颜色 */
.layout-tab-bar .item__close:hover svg {
    background-color: var(--b3-tab-bar-close-background);
}

/* 去掉默认主题的相关设置 */
.layout-tab-bar .item:not(:last-child) {
    box-shadow: none;
}

.layout__wnd--active .layout-tab-bar .item--focus {
    box-shadow: inset 0 2px 0 0 transparent,
        0px 0px 0.5px rgba(0, 0, 0, 0.055),
        0px 0px 4px rgba(0, 0, 0, 0.11) !important;
}